.page-header {
  background: #15a589;
}
ul
{
  list-style-type: none;
}

.previous {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

.form-control:focus {
  border-color: #12b89c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.11);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.08);
  }

